/* Styles and settings of buttons, bars, images, scrollbar, etc */
* {
  box-sizing: border-box; 
}

u {
  text-underline-position: under  
}

.company-logo{
  width: 350px;
  height: 110px;
  position: relative;
  left: 5px;
  top: 10px
}

.login-btn {
  background-color: #66cc00;
  border: none;
  color: white;
  padding: 5px 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  position: absolute;
  left: 1340px;
  top: 24px;
  outline: none
}

.login_background {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px
}

.modal-content {
  background-color: #fefefe;
  margin: -2% auto 0% auto; 
  border: 4px solid black;
  width: 40%; 
  height: 670px
}

.animate { 
  -webkit-animation: animatezoom 0.8s;
  animation: animatezoom 0.8s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer
}

img.user {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.login_container {
  padding: 16px;
  margin-left: 120px
}

.label_font_size {
  font-size: 24px  
}

.inside-login_btn {
  font-size: 25px;
  background-color: #66cc00;
  border: none;
  color: white;
  padding: 10px 128px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  outline: none
}

.down_container {
  margin-top: -47px;
  background-color: #e6e6e6;
  height: 55px;
}

@media screen and (overflow: visible) {
.down_container {
  background-color: #e6e6e6;
  margin-left: -136px;
  }
}

@media screen and (max-width: 1470px) {
  .modal {display: none}
}

@media screen and (max-width: 1470px) {
  .modal-content {display: none}
}

@media screen and (max-width: 1470px) {
  .login-container {display: none}
  }

.navigation-bar {
  overflow: hidden;
  background-color: #e9e9e9;
  margin: 0
}

.navigation-bar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 20px
}

.navigation-bar a:hover {
  background-color: #ddd;
  color: black
}

.navigation-bar a.active {
  background-color: #2196F3;
  color: white
}

.navigation-bar .search-container {
  padding: 0px 1067px
}

.navigation-bar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 20px;
  border: 1px solid #ccc
}

.dropdown {
  float: left;
  overflow: hidden
}

.dropdown .dropbtn_product_page {
  font-size: 20px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 30px;
  background-color: #2196F3;
  font-family: inherit;
  margin: 0
}

.dropdown .dropbtn_non_product_page {
  font-size: 20px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 30px;
  background-color: #e9e9e9;
  font-family: inherit;
  margin: 0
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.2);
  z-index: 1
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 20px 30px;
  text-decoration: none;
  display: block;
  text-align: left
}

.dropdown-content a:hover {
  background-color: #ddd
}

.dropdown:hover .dropdown-content {
  display: block
}

.navigation-bar-search-logo {
  position: absolute;
  left: 1350px;
  top: 133px
}

@media screen and (max-width: 950px) {
  .navigation-bar a:nth-child(7) {display: none}
  }

@media screen and (max-width: 850px) {
  .navigation-bar a:nth-child(6) {display: none}
  }

@media screen and (max-width: 750px) {
  .navigation-bar a:nth-child(5) {display: none}
  }

@media screen and (max-width: 650px) {
  .navigation-bar a:nth-child(4) {display: none}
  }

#ul { /*For searching result*/
  list-style-type: none;
  padding: 0px;
  margin: 0;
  box-shadow: 20px 20px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  left: 1070px;
  top: 178px;
  background-color: #f8f8f8;
  z-index: 1

}

#ul li a {
  background-color: #f8f8f8; 
  font-size: 18px;
  color: black;
  float: none;
  text-decoration: none;
  text-align: left
}

#ul li a:hover:not(.header) {
  background-color: #ddd;
  cursor: pointer
}

#ul::-webkit-scrollbar {
  width: 15px
}

#ul::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 30px
}

#ul::-webkit-scrollbar-thumb {
  background: #2196F3; 
  border-radius: 30px
}

#ul::-webkit-scrollbar-thumb:hover {
  background: #21cdf3
}

.shopping-cart-logo {
  position: absolute;
  left: 1420px;
  top: 133px
}

.shopping-cart-logo-notification{
  position: absolute; 
  top: -12px; 
  right: -15px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white
}

.product-table {
  border-collapse: collapse; 
  text-align: center; 
  margin-left: auto; 
  margin-right: auto
}
