<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8"/>
<title>abc Online Supermarket - Home Page</title>
</head>


<body>
<form action="http://localhost:5000/forget_password" method="post" id="forget_password">
  <input type="hidden" name="email" id="email">
</form>

<script>
email = prompt('Please enter your user name (email):', 'email address'); 
document.getElementById('email').value = email; 
document.getElementById('forget_password').submit()
</script>
</body>

</html>