<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8"/>
<title>abc Online Supermarket - Help Page Information</title>
<link rel="icon" href="Image/Background Logo/Company Logo 2.png"> <!-- Icon -->
<link rel="stylesheet" href="main website style.css"> <!-- All classes refer to this css -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!-- Faded Animation reference -->
</head>


<body>
<script src="Zoom Resize Function.js"></script>  <!-- Before displaying content, resize the screen based on the resolutions -->  
<img src="Image/Background Logo/Company Logo.png" alt="Company Logo" class="company-logo"> 

<!-- Login function -->
<button class="login-btn" onclick="document.getElementById('login_form').style.display='block'"><h1><b>Login</b></h1></button>
<div id="login_form" class="modal">
  <form class="modal-content animate" action="http://localhost:5000/login" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('login_form').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="Image/Background Logo/Login Logo.png" alt="User" class="user">
    </div>

    <div class="login_container">
      <div class="label_font_size">
      <label><b>Username</b></label>
        <i>
          <input type="text" placeholder=" Enter your username" name="user_name" id="user_name" autocomplete="off" required>
        </i>
      </div>

      <p class="label_font_size">
      <label><b>Password</b></label>
        <i>
          <input type="password" placeholder=" Enter your password" name="password" id="password" required>
        </i>
      </p>

      <p>
        <b><input type="submit" class="inside-login_btn" value="Login"></b>
      </p>

      <br>
      <br>
       
    </div> 

      <div class="down_container">
        <pre style="line-height: 18px">    
       <a href="abc Online Supermarket - Register Page.html" style="color: blue; font-size: 18px">Sign Up</a>                                <a href="abc Online Supermarket - Find Password.html" style="color: black; cursor: pointer; font-size: 18px">Forget Password?</a>
        </pre> 
        <br>      
      </div>     
  </form>
</div>
<p>

<div class="navigation-bar">
  <a href="abc Online Supermarket - Home Page.html">Home</a>

  <div class="dropdown">
    <button class="dropbtn_non_product_page">Product</button>
    <div class="dropdown-content">
      <a href="abc Online Supermarket - Product(Fruits) Page.html">Fruits</a>
      <a href="abc Online Supermarket - Product(Snacks) Page.html">Snacks</a>
      <a href="abc Online Supermarket - Product(Drinks and Beverages) Page.html">Drinks and Beverages</a>
      <a href="abc Online Supermarket - Product(Wines) Page.html">Wines</a>
      <a href="abc Online Supermarket - Product(Cleaning Supllies, Health and Beauty) Page.html">Cleaning Supplies, Health and Beauty</a>
      <a href="abc Online Supermarket - Product(Pets) Page.html">Pets</a>
    </div>
  </div>  

  <a href="abc Online Supermarket - Contact Us Page.html">Contact Us</a>
  <a href="abc Online Supermarket - About Us Page.html">About Us</a>
  <a href="abc Online Supermarket - Jobs Page.html">Jobs</a>
  <a href="abc Online Supermarket - Register Page.html">Register</a>
  <a class="active" href="abc Online Supermarket - Help Page.html">Help</a>

<form onsubmit="return false">
  <div class="search-container">
    <input id="search_product_value" type="text" placeholder="Search a Product" oninput="find_product()" 
      onmouseleave="not_click_search()" autocomplete="off" required> 
    <div id="product_list"></div>
  </div>    
</div>

  <div class="navigation-bar-search-logo">
    <input type="image" onclick="search_product()" src="Image/Button Logo/Search Logo.png" alt="search_product" width = 48 height = 43>
  </div>
</form>

<div class="shopping-cart-logo">
  <form action="abc Online Supermarket - Shopping Cart Page.html">
    <input type="image" src="Image/Button Logo/Shopping Cart Logo.png" alt="shopping cart" width = 55 height = 43>
    <div id="shopping_cart_logo_notification"></div>
  </form>
</div>

<div id="help_result"></div>  <!-- The place to show result of help searching -->

<script>
if (localStorage.getItem("help_info") == "show_all") { 
  document.getElementById("help_result").innerHTML =
  `
  <div style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 220px; 
  left: 50px; text-align: center; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/Home Description.png" alt="Home Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>Home</b></u></h1>
  <h5 style="text-align: justify; margin-left: 70px; margin-right: 70px">Home page shows the most famous 
  and current news. You could find 
  some interesting titles about 
  the supermarket here.
  </h5>
  </div>

  <div  style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 220px; 
  left: 550px; text-align: center; word-wrap: break-word; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/Product Description.png" alt="Product Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>Product</b></u></h1>
  <h5 style="text-align: justify; margin-left: 60px; margin-right: 60px">There are total of 6 categories 
  of product that can be purchase
  in our online supermarket. You
  could add them to the shopping 
  cart and purchase them by whether 
  cash or credit card.
  </h5>
  </div>

  <div  style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 220px; 
  left: 1050px; text-align: center; word-wrap: break-word; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/Contact Us Description.png" alt="Contact Us Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>Contact Us</b></u></h1>
  <h5 style="text-align: justify; margin-left: 50px; margin-right: 50px">We provide different ways for 
  our customer to contact our
  service line, including telephone
  and email. No matter what help you need, you could always 
  refer to the Contact Us page to send us
  your message.
  </h5>
  </div>

  <div  style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 700px; 
  left: 50px; text-align: center; word-wrap: break-word; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/About Us Description.png" alt="About Us Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>About Us</b></u></h1>
  <h5 style="text-align: justify; margin-left: 70px; margin-right: 70px">In About Us page,   
  you could find some useful information 
  and description about our supermarket, 
  such as our history and services.
  </h5>
  </div>

  <div  style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 700px; 
  left: 550px; text-align: center; word-wrap: break-word; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/Jobs Description.png" alt="Jobs Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>Jobs</b></u></h1>
  <h5 style="text-align: justify; margin-left: 60px; margin-right: 60px">We have some featured jobs  
  that provide to people who have interest.
  If you want to find and apply some of our
  employeement, you could go to the 
  Jobs page to view more.
  </h5>
  </div>

  <div  style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 700px; 
  left: 1050px; text-align: center; word-wrap: break-word; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/Register Description.png" alt="Register Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>Register</b></u></h1>
  <h5 style="text-align: justify; margin-left: 60px; margin-right: 60px">If you want to be one 
  of our members, you could register
  here. As a member, you may get 
  some special offer everytime you purchase
  our products.
  </h5>
  </div>

  <pre>











































  </pre>
  `
}

else if (localStorage.getItem("help_info").toLowerCase() == "home") {
  document.getElementById("help_result").innerHTML =
  `
  <div style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 220px; 
  left: 550px; text-align: center; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/Home Description.png" alt="Home Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>Home</b></u></h1>
  <h5 style="text-align: justify; margin-left: 70px; margin-right: 70px">Home page shows the most famous 
  and current news. You could find 
  some interesting titles about 
  the supermarket here.
  </h5>
  </div>
  `
}

else if (localStorage.getItem("help_info").toLowerCase() == "product") {
  document.getElementById("help_result").innerHTML =
  `
  <div  style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 220px; 
  left: 550px; text-align: center; word-wrap: break-word; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/Product Description.png" alt="Product Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>Product</b></u></h1>
  <h5 style="text-align: justify; margin-left: 60px; margin-right: 60px">There are total of 6 categories 
  of product that can be purchase
  in our online supermarket. You
  could add them to the shopping 
  cart and purchase them by whether 
  cash or credit card.
  </h5>
  </div>
  `  
} 

else if (localStorage.getItem("help_info").toLowerCase() == "contact us") {
  document.getElementById("help_result").innerHTML =
  `
  <div  style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 220px; 
  left: 550px; text-align: center; word-wrap: break-word; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/Contact Us Description.png" alt="Contact Us Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>Contact Us</b></u></h1>
  <h5 style="text-align: justify; margin-left: 50px; margin-right: 50px">We provide different ways for 
  our customer to contact our
  service line, including telephone
  and email. No matter what help you need, you could always 
  refer to the Contact Us page to send us
  your message.
  </h5>
  </div>
  `  
}

else if (localStorage.getItem("help_info").toLowerCase() == "about us") {
  document.getElementById("help_result").innerHTML =
  `
  <div  style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 220px; 
  left: 550px; text-align: center; word-wrap: break-word; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/About Us Description.png" alt="About Us Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>About Us</b></u></h1>
  <h5 style="text-align: justify; margin-left: 70px; margin-right: 70px">In About Us page,   
  you could find some useful information 
  and description about our supermarket, 
  such as our history and services.
  </h5>
  </div>
  `  
}

else if (localStorage.getItem("help_info").toLowerCase() == "jobs") {
  document.getElementById("help_result").innerHTML =
  `
  <div  style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 220px; 
  left: 550px; text-align: center; word-wrap: break-word; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/Jobs Description.png" alt="Jobs Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>Jobs</b></u></h1>
  <h5 style="text-align: justify; margin-left: 60px; margin-right: 60px">We have some featured jobs  
  that provide to people who have interest.
  If you want to find and apply some of our
  employeement, you could go to the 
  Jobs page to view more.
  </h5>
  </div>
  `  
}

else if (localStorage.getItem("help_info").toLowerCase() == "register") {
  document.getElementById("help_result").innerHTML =
  `
  <div  style="border: 2px solid grey; width: 400px; height: 400px; position: absolute; top: 220px; 
  left: 550px; text-align: center; word-wrap: break-word; box-shadow: 30px 30px 16px 0px rgba(0,0,0,0.3)">
  <img src="Image/Background Logo/Help/Register Description.png" alt="Register Logo" width= 150 height=150>
  <h1 style="color: #2196F3"><u><b>Register</b></u></h1>
  <h5 style="text-align: justify; margin-left: 60px; margin-right: 60px">If you want to be one 
  of our members, you could register
  here. As a member, you may get 
  some special offer everytime you purchase
  our products.
  </h5>
  </div>
  `  
}

else { //no result found
  document.getElementById("help_result").innerHTML =
  `
  <p style="font-size: 50px; position: absolute; left: 230px; top: 200px">Sorry, we couldn't find the result you want!</p>

  <img src="Image/Background Logo/No Result Logo.png" alt="no result prompt" 
  width = 300 height = 300 style="position: absolute; left: 570px; top: 330px">

  <img src="Image/Background Logo/Shadow Logo.png" alt="shadow" 
  width = 350 height = 40 style="position: absolute; left: 570px; top: 620px">
  `     
}
</script>


<script src="Product List and Search Function.js"></script>  <!--All search product list and search function refer to this js -->
<script src="Cart Logo Change Function.js"></script> <!-- The shopping cart logo will change according to this function -->


</body>

</html>
