<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8"/>
<title>abc Online Supermarket - Product(Fruits) Page</title>
<link rel="icon" href="Image/Background Logo/Company Logo 2.png"> <!-- Icon -->
<link rel="stylesheet" href="main website style.css"> <!-- All classes refer to this css -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!-- Faded Animation reference -->
</head>


<body>
<img src="Image/Background Logo/Company Logo.png" alt="Company Logo" class="company-logo"> 

<!-- Login function -->
<button class="login-btn" onclick="document.getElementById('login_form').style.display='block'"><h1><b>Login</b></h1></button>
<div id="login_form" class="modal">
  <form class="modal-content animate" action="http://localhost:5000/login" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('login_form').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="Image/Background Logo/Login Logo.png" alt="User" class="user">
    </div>

    <div class="login_container">
      <div class="label_font_size">
      <label><b>Username</b></label>
        <i>
          <input type="text" placeholder=" Enter your username" name="user_name" id="user_name" autocomplete="off" required>
        </i>
      </div>

      <p class="label_font_size">
      <label><b>Password</b></label>
        <i>
          <input type="password" placeholder=" Enter your password" name="password" id="password" required>
        </i>
      </p>

      <p>
        <b><input type="submit" class="inside-login_btn" value="Login"></b>
      </p>

      <br>
      <br>
       
    </div> 

      <div class="down_container">
        <pre style="line-height: 18px">    
       <a href="abc Online Supermarket - Register Page.html" style="color: blue; font-size: 18px">Sign Up</a>                                <a href="abc Online Supermarket - Find Password.html" style="color: black; cursor: pointer; font-size: 18px">Forget Password?</a>
        </pre> 
        <br>      
      </div>     
  </form>
</div>
<p>

<div class="navigation-bar">
  <a href="abc Online Supermarket - Home Page.html">Home</a>

  <div class="dropdown">
      <button class="dropbtn_product_page">Product</button>
    <div class="dropdown-content">
      <a href="abc Online Supermarket - Product(Fruits) Page.html">Fruits</a>
      <a href="abc Online Supermarket - Product(Snacks) Page.html">Snacks</a>
      <a href="abc Online Supermarket - Product(Drinks and Beverages) Page.html">Drinks and Beverages</a>
      <a href="abc Online Supermarket - Product(Wines) Page.html">Wines</a>
      <a href="abc Online Supermarket - Product(Cleaning Supllies, Health and Beauty) Page.html">Cleaning Supplies, Health and Beauty</a>
      <a href="abc Online Supermarket - Product(Pets) Page.html">Pets</a>
    </div>
  </div>  

  <a href="abc Online Supermarket - Contact Us Page.html">Contact Us</a>
  <a href="abc Online Supermarket - About Us Page.html">About Us</a>
  <a href="abc Online Supermarket - Jobs Page.html">Jobs</a>
  <a href="abc Online Supermarket - Register Page.html">Register</a>
  <a href="abc Online Supermarket - Help Page.html">Help</a>

<form onsubmit="return false">
  <div class="search-container">
    <input id="search_product_value" type="text" placeholder="Search a Product" oninput="find_product()" 
      onmouseleave="not_click_search()" autocomplete="off" required> 
    <div id="product_list"></div>
  </div>    
</div>

  <div class="navigation-bar-search-logo">
    <input type="image" onclick="search_product()" src="Image/Button Logo/Search Logo.png" alt="search_product" width = 48 height = 43>
  </div>
</form>

<div class="shopping-cart-logo">
  <form action="abc Online Supermarket - Shopping Cart Page.html">
    <input type="image" src="Image/Button Logo/Shopping Cart Logo.png" alt="shopping cart" width = 55 height = 43>
    <div id="shopping_cart_logo_notification"></div>
  </form>
</div>

<p>
<p>



<!-- Table for showing products -->
<table border = 1 class="product-table">
<!-- 1st Row-->
<tr > 
  <td style="width: 250px"><input type="image" src="Image/Product Logo/Fruits/Apple.png" alt="apple" width = 210 height = 210 
    onclick='localStorage.setItem("product","Apple"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>
    <b>Apple</b><p style="color:red"><u>$3.00</u></p></td> 

  <td style="width: 250px"><input type="image" src="Image/Product Logo/Fruits/Bananas (1 comb).png" alt="bananas" width = 210 height = 210 
    onclick='localStorage.setItem("product","Bananas (1 comb)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>
    <b>Bananas (1 comb)</b><p style="color:red"><u>$12.00</u></p></td> 

  <td style="width: 250px"><input type="image" src="Image/Product Logo/Fruits/Orange.png" alt="orange" width = 210 height = 210
    onclick='localStorage.setItem("product","Orange"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>    
    <b>Orange</b><p style="color:red"><u>$3.00</u></p></td> 

  <td style="width: 250px"><input type="image" src="Image/Product Logo/Fruits/Green Grapes (1 bunch).png" alt="green_grapes" width = 210 
    height = 210 onclick='localStorage.setItem("product","Green Grapes (1 bunch)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br> 
    <b>Green Grapes (1 bunch)</b><p style="color:red"><u>$40.00</u></p></td> 

  <td style="width: 250px"><input type="image" src="Image/Product Logo/Fruits/Purple Grades (1 bunch).png" alt="purple_grapes" width = 210 
    height = 210
    onclick='localStorage.setItem("product","Purple Grapes (1 bunch)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br> 
    <b>Purple Grapes (1 bunch)</b><p style="color:red"><u>$40.00</u></p></td> 

  <td style="width: 250px"><input type="image" src="Image/Product Logo/Fruits/Cherries (1 bunch).png" alt="cherries" width = 210 
    height = 210
    onclick='localStorage.setItem("product","Cherries (1 bunch)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>    
    <b>Cherries (1 bunch)</b><p style="color:red"><u>$26.00</u></p></td> 

  <td style="width: 250px"><input type="image" src="Image/Product Logo/Fruits/Kiwi.png" alt="kiwi" width = 210 height = 210
    onclick='localStorage.setItem("product","Kiwi"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>     
    <b>Kiwi</b><p style="color:red"><u>$2.00</u></p></td> 
</tr>


<!-- 2nd Row-->
<tr style="height: 40px"> 
  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="apple_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_apple()" autocomplete="off">
  <input type ="submit" value="Add" onclick="add_apple()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="bananas_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_bananas()" autocomplete="off"> 
  <input type ="submit" value="Add" onclick="add_bananas()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="orange_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_orange()" autocomplete="off">  
  <input type ="submit" value="Add" onclick="add_orange()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="green_grapes_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_green_grapes()" autocomplete="off">  
  <input type ="submit" value="Add" onclick="add_green_grapes()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="purple_grapes_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_purple_grapes()" autocomplete="off">  
  <input type ="submit" value="Add" onclick="add_purple_grapes()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="cherries_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_cherries()" autocomplete="off">  
  <input type ="submit" value="Add" onclick="add_cherries()" style="cursor: pointer"></form>
  </td>

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="kiwi_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_kiwi()" autocomplete="off"> 
  <input type ="submit" value="Add" onclick="add_kiwi()" style="cursor: pointer"></form>
  </td> 
</tr>


<!-- 3rd Row-->
<tr>   
  <td><input type="image" src="Image/Product Logo/Fruits/Lemon.png" alt="lemon" width = 210 height = 210
    onclick='localStorage.setItem("product","Lemon"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>      
    <b>Lemon</b><p style="color:red"><u>$2.00</u></p></td> 

  <td><input type="image" src="Image/Product Logo/Fruits/Mango.png" alt="mango" width = 210 height = 210
    onclick='localStorage.setItem("product","Mango"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>  
    <b>Mango</b><p><p style="color:red"><u>$6.00</u></p></td> 

  <td><input type="image" src="Image/Product Logo/Fruits/Pineapple.png" alt="pineapple" width = 210 height = 210
    onclick='localStorage.setItem("product","Pineapple"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>  
    <b>Pineapple</b><p style="color:red"><u>$22.00</u></p></td> 

  <td><input type="image" src="Image/Product Logo/Fruits/Watermelon.png" alt="watermelon" width = 210 height = 210
    onclick='localStorage.setItem("product","Watermelon"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>  
    <b>Watermelon</b><p><p style="color:red"><u>$30.00</u></p></td>

  <td><input type="image" src="Image/Product Logo/Fruits/Strawberries (1lb).png" alt="strawberries" width = 210 height = 210
    onclick='localStorage.setItem("product","Strawberries (1lb)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>  
    <b>Strawberries (1lb)</b><p><p style="color:red"><u>$46.00</u></p></td>      
</tr>


<!-- 4th Row-->
<tr style="height: 40px"> 
  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="lemon_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_lemon()" autocomplete="off"> 
  <input type ="submit" value="Add" onclick="add_lemon()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="mango_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_mango()" autocomplete="off"> 
  <input type ="submit" value="Add" onclick="add_mango()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="pineapple_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_pineapple()" autocomplete="off"> 
  <input type ="submit" value="Add" onclick="add_pineapple()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="watermelon_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_watermelon()" autocomplete="off">  
  <input type ="submit" value="Add" onclick="add_watermelon()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="strawberries_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_strawberries()" autocomplete="off"> 
  <input type ="submit" value="Add" onclick="add_strawberries()" style="cursor: pointer"></form>
  </td>   
</tr>
</table> 


<script>
//Function for input properties and adding product lists to shopping cart
function empty_input_apple(){  
if (document.getElementById("apple_quantity").value == "")
  {document.getElementById("apple_quantity").value = "1"}
};

function empty_input_bananas(){
if (document.getElementById("bananas_quantity").value == "")
  {document.getElementById("bananas_quantity").value = "1"}
};

function empty_input_orange(){
if (document.getElementById("orange_quantity").value == "")
  {document.getElementById("orange_quantity").value = "1"}  
};

function empty_input_green_grapes(){
if (document.getElementById("green_grapes_quantity").value == "")
  {document.getElementById("green_grapes_quantity").value = "1"}
};

function empty_input_purple_grapes(){
if (document.getElementById("purple_grapes_quantity").value == "")
  {document.getElementById("purple_grapes_quantity").value = "1"}
};

function empty_input_cherries(){
if (document.getElementById("cherries_quantity").value == "")
  {document.getElementById("cherries_quantity").value = "1"}
};

function empty_input_kiwi(){
if (document.getElementById("kiwi_quantity").value == "")
  {document.getElementById("kiwi_quantity").value = "1"}
};

function empty_input_lemon(){
if (document.getElementById("lemon_quantity").value == "")
  {document.getElementById("lemon_quantity").value = "1"}
};

function empty_input_mango(){
if (document.getElementById("mango_quantity").value == "")
  {document.getElementById("mango_quantity").value = "1"}
};

function empty_input_pineapple(){
if (document.getElementById("pineapple_quantity").value == "")
  {document.getElementById("pineapple_quantity").value = "1"}
};

function empty_input_watermelon(){
if (document.getElementById("watermelon_quantity").value == "")
  {document.getElementById("watermelon_quantity").value = "1"}
};

function empty_input_strawberries(){
if (document.getElementById("strawberries_quantity").value == "")
  {document.getElementById("strawberries_quantity").value = "1"}
};


Product_add_Message = "Product has been added to your shopping cart!"; 
Warning_Message = "Please enter a positive integer!";  

if (localStorage.getItem("item_list") == null) 
  {var photo_list = [];
   var item_list = []; 
   var quantity_list = []; 
   var price_list = [];
   var subtotal_list = []
  }
else 
  {var photo_list = [localStorage.getItem("photo_list")];
   var item_list = [localStorage.getItem("item_list")];
   var quantity_list = [localStorage.getItem("quantity_list")];
   var price_list = [localStorage.getItem("price_list")];
   var subtotal_list = [localStorage.getItem("subtotal_list")]
  };

function add_apple() {
  if (Number(document.getElementById("apple_quantity").value)>0 & Number.isInteger(Number(document.getElementById("apple_quantity").value))) {
    alert(Product_add_Message);  
    photo_list.push('<img src = "Image/Product Logo/Fruits/Apple.png" alt="apple" width = 90 height = 90>');
    item_list.push("Apple");
    quantity_list.push(Number(document.getElementById("apple_quantity").value));
    price_list.push("$3");
    subtotal_list.push("$"+3*(Number(document.getElementById("apple_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("apple_quantity").value = "";
    location.reload()    
    }
  else {
    document.getElementById("apple_quantity").setCustomValidity(Warning_Message);
    document.getElementById("apple_quantity").oninput = 
    function reset_valid() {document.getElementById("apple_quantity").setCustomValidity('')} 
    }    
  };

function add_bananas() {
  if (Number(document.getElementById("bananas_quantity").value)>0 & Number.isInteger(Number(document.getElementById("bananas_quantity").value))) {
    alert(Product_add_Message); 
    photo_list.push('<img src = "Image/Product Logo/Fruits/Bananas (1 comb).png" alt="bananas" width = 90 height = 90>'); 
    item_list.push("Bananas (1 comb)");
    quantity_list.push(Number(document.getElementById("bananas_quantity").value));
    price_list.push("$12");
    subtotal_list.push("$"+12*(Number(document.getElementById("bananas_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("bananas_quantity").value = "";
    location.reload()
    }
  else {
    document.getElementById("bananas_quantity").setCustomValidity(Warning_Message);
    document.getElementById("bananas_quantity").oninput = 
    function reset_valid() {document.getElementById("bananas_quantity").setCustomValidity('')}    
    }
  };

function add_orange() {
  if (Number(document.getElementById("orange_quantity").value)>0 & Number.isInteger(Number(document.getElementById("orange_quantity").value))) {
    alert(Product_add_Message); 
    photo_list.push('<img src = "Image/Product Logo/Fruits/Orange.png" alt="orange" width = 90 height = 90>'); 
    item_list.push("Orange");
    quantity_list.push(Number(document.getElementById("orange_quantity").value));
    price_list.push("$3");
    subtotal_list.push("$"+3*(Number(document.getElementById("orange_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("orange_quantity").value = "";
    location.reload()
    }
  else {
    document.getElementById("orange_quantity").setCustomValidity(Warning_Message);
    document.getElementById("orange_quantity").oninput = 
    function reset_valid() {document.getElementById("orange_quantity").setCustomValidity('')}    
    }
  };

function add_green_grapes() {
  if (Number(document.getElementById("green_grapes_quantity").value)>0 & Number.isInteger(Number(document.getElementById("green_grapes_quantity").value))) {
    alert(Product_add_Message);  
    photo_list.push('<img src = "Image/Product Logo/Fruits/Green Grapes (1 bunch).png" alt="green_grapes" width = 90 height = 90>');
    item_list.push("Green grapes (1 bunch)");
    quantity_list.push(Number(document.getElementById("green_grapes_quantity").value));
    price_list.push("$40");
    subtotal_list.push("$"+40*(Number(document.getElementById("green_grapes_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("green_grapes_quantity").value = "";
    location.reload()
    }
  else {
    document.getElementById("green_grapes_quantity").setCustomValidity(Warning_Message);
    document.getElementById("green_grapes_quantity").oninput = 
    function reset_valid() {document.getElementById("green_grapes_quantity").setCustomValidity('')}   
    }
  };  

function add_purple_grapes() {
  if (Number(document.getElementById("purple_grapes_quantity").value)>0 & Number.isInteger(Number(document.getElementById("purple_grapes_quantity").value))) {
    alert(Product_add_Message);
    photo_list.push('<img src = "Image/Product Logo/Fruits/Purple Grades (1 bunch).png" alt="purple_grapes" width = 90 height = 90>');  
    item_list.push("Purple grapes (1 bunch)");
    quantity_list.push(Number(document.getElementById("purple_grapes_quantity").value));
    price_list.push("$40");
    subtotal_list.push("$"+40*(Number(document.getElementById("purple_grapes_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("purple_grapes_quantity").value = "";
    location.reload()
    }
  else {
    document.getElementById("purple_grapes_quantity").setCustomValidity(Warning_Message);
    document.getElementById("purple_grapes_quantity").oninput = 
    function reset_valid() {document.getElementById("purple_grapes_quantity").setCustomValidity('')}    
    }
  };  

function add_cherries() {  
  if (Number(document.getElementById("cherries_quantity").value)>0 & 
  Number.isInteger(Number(document.getElementById("cherries_quantity").value))) {
    alert(Product_add_Message); 
    photo_list.push('<img src = "Image/Product Logo/Fruits/Cherries (1 bunch).png" alt="cherries" width = 90 height = 90>'); 
    item_list.push("Cherries (1 bunch)");
    quantity_list.push(Number(document.getElementById("cherries_quantity").value));
    price_list.push("$26");
    subtotal_list.push("$"+26*(Number(document.getElementById("cherries_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("cherries_quantity").value = "";
    location.reload()
    }
  else {
    document.getElementById("cherries_quantity").setCustomValidity(Warning_Message);
    document.getElementById("cherries_quantity").oninput = 
    function reset_valid() {document.getElementById("cherries_quantity").setCustomValidity('')}    
    }
  };

function add_kiwi() {  
  if (Number(document.getElementById("kiwi_quantity").value)>0 & Number.isInteger(Number(document.getElementById("kiwi_quantity").value))) {
    alert(Product_add_Message);
    photo_list.push('<img src = "Image/Product Logo/Fruits/Kiwi.png" alt="kiwi" width = 90 height = 90>');  
    item_list.push("Kiwi");
    quantity_list.push(Number(document.getElementById("kiwi_quantity").value));
    price_list.push("$2");
    subtotal_list.push("$"+2*(Number(document.getElementById("kiwi_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("kiwi_quantity").value = "";
    location.reload()
    }
  else {
    document.getElementById("kiwi_quantity").setCustomValidity(Warning_Message);
    document.getElementById("kiwi_quantity").oninput = 
    function reset_valid() {document.getElementById("kiwi_quantity").setCustomValidity('')}    
    }
  };

function add_lemon() {  
  if (Number(document.getElementById("lemon_quantity").value)>0 & Number.isInteger(Number(document.getElementById("lemon_quantity").value))) {
    alert(Product_add_Message); 
    photo_list.push('<img src = "Image/Product Logo/Fruits/Lemon.png" alt="lemon" width = 90 height = 90>'); 
    item_list.push("Lemon");
    quantity_list.push(Number(document.getElementById("lemon_quantity").value));
    price_list.push("$2");
    subtotal_list.push("$"+2*(Number(document.getElementById("lemon_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("lemon_quantity").value = "";
    location.reload()
    }
  else {
    document.getElementById("lemon_quantity").setCustomValidity(Warning_Message);
    document.getElementById("lemon_quantity").oninput = 
    function reset_valid() {document.getElementById("lemon_quantity").setCustomValidity('')}    
    }
  };

function add_mango() {
  if (Number(document.getElementById("mango_quantity").value)>0 & Number.isInteger(Number(document.getElementById("mango_quantity").value))) {
    alert(Product_add_Message); 
    photo_list.push('<img src = "Image/Product Logo/Fruits/Mango.png" alt="mango" width = 90 height = 90>'); 
    item_list.push("Mango");
    quantity_list.push(Number(document.getElementById("mango_quantity").value));
    price_list.push("$6");
    subtotal_list.push("$"+6*(Number(document.getElementById("mango_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("mango_quantity").value = "";
    location.reload()
    }
  else {
    document.getElementById("mango_quantity").setCustomValidity(Warning_Message);
    document.getElementById("mango_quantity").oninput = 
    function reset_valid() {document.getElementById("mango_quantity").setCustomValidity('')}    
    }
  };

function add_pineapple() {  
  if (Number(document.getElementById("pineapple_quantity").value)>0 & Number.isInteger(Number(document.getElementById("pineapple_quantity").value))) {
    alert(Product_add_Message);  
    photo_list.push('<img src = "Image/Product Logo/Fruits/Pineapple.png" alt="pineapple" width = 90 height = 90>');
    item_list.push("Pineapple");
    quantity_list.push(Number(document.getElementById("pineapple_quantity").value));
    price_list.push("$22");
    subtotal_list.push("$"+22*(Number(document.getElementById("pineapple_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("pineapple_quantity").value = "";
    location.reload()
    }
  else {
    document.getElementById("pineapple_quantity").setCustomValidity(Warning_Message);
    document.getElementById("pineapple_quantity").oninput = 
    function reset_valid() {document.getElementById("pineapple_quantity").setCustomValidity('')}    
    }
  };

function add_watermelon() { 
  if (Number(document.getElementById("watermelon_quantity").value)>0 & Number.isInteger(Number(document.getElementById("watermelon_quantity").value))) {
    alert(Product_add_Message);  
    photo_list.push('<img src = "Image/Product Logo/Fruits/Watermelon.png" alt="watermelon" width = 90 height = 90>');
    item_list.push("Watermelon");
    quantity_list.push(Number(document.getElementById("watermelon_quantity").value));
    price_list.push("$30");
    subtotal_list.push("$"+30*(Number(document.getElementById("watermelon_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("watermelon_quantity").value = "";
    location.reload()
    }
  else {
    document.getElementById("watermelon_quantity").setCustomValidity(Warning_Message);
    document.getElementById("watermelon_quantity").oninput = 
    function reset_valid() {document.getElementById("watermelon_quantity").setCustomValidity('')}    
    }
  };

function add_strawberries() { 
  if (Number(document.getElementById("strawberries_quantity").value)>0 &
  Number.isInteger(Number(document.getElementById("strawberries_quantity").value))) {
    alert(Product_add_Message);  
    photo_list.push('<img src = "Image/Product Logo/Fruits/Strawberries (1lb).png" alt="strawberries" width = 90 height = 90>');
    item_list.push("Strawberries (1lb)");
    quantity_list.push(Number(document.getElementById("strawberries_quantity").value));
    price_list.push("$46");
    subtotal_list.push("$"+46*(Number(document.getElementById("strawberries_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list);
    document.getElementById("strawberries_quantity").value = "";
    location.reload()
    }
  else {
    document.getElementById("strawberries_quantity").setCustomValidity(Warning_Message);
    document.getElementById("strawberries_quantity").oninput = 
    function reset_valid() {document.getElementById("strawberries_quantity").setCustomValidity('')}       
    }
  }  
</script>


<script src="Product List and Search Function.js"></script>  <!--All search product list and search function refer to this js -->
<script src="Cart Logo Change Function.js"></script> <!-- The shopping cart logo will change according to this function -->

<br>
<br>
</body>

</html>