<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8"/>
<title>abc Online Supermarket - Jobs Page</title>
<link rel="stylesheet" href="main website style.css"> <!--All classes refer to this css -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!-- Faded Animation reference-->
</head>


<body>
<img src="Image/Background Logo/Company Logo.png" alt="Company Logo" class="company-logo"> 

<!-- Login function -->
<button class="login-btn" onclick="document.getElementById('login_form').style.display='block'"><h1><b>Login</b></h1></button>
<div id="login_form" class="modal">
  <form class="modal-content animate" action="http://localhost:5000/login" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('login_form').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="Image/Background Logo/Login Logo.png" alt="User" class="user">
    </div>

    <div class="login_container">
      <div class="label_font_size">
      <label><b>Username</b></label>
        <i>
          <input type="text" placeholder=" Enter your username" name="user_name" id="user_name" autocomplete="off" required>
        </i>
      </div>

      <p class="label_font_size">
      <label><b>Password</b></label>
        <i>
          <input type="password" placeholder=" Enter your password" name="password" id="password" required>
        </i>
      </p>

      <p>
        <b><input type="submit" class="inside-login_btn" value="Login"></b>
      </p>

      <br>
      <br>
       
    </div> 

      <div class="down_container">
        <pre style="line-height: 18px">    
       <a href="abc Online Supermarket - Register Page.html" style="color: blue; font-size: 18px">Sign Up</a>                                <a href="abc Online Supermarket - Find Password.html" style="color: black; cursor: pointer; font-size: 18px">Forget Password?</a>
        </pre> 
        <br>      
      </div>     
  </form>
</div>
<p>

<div class="navigation-bar">
  <a href="abc Online Supermarket - Home Page.html">Home</a>

  <div class="dropdown">
    <button class="dropbtn_non_product_page">Product</button>
    <div class="dropdown-content">
      <a href="abc Online Supermarket - Product(Fruits) Page.html">Fruits</a>
      <a href="abc Online Supermarket - Product(Snacks) Page.html">Snacks</a>
      <a href="abc Online Supermarket - Product(Drinks and Beverages) Page.html">Drinks and Beverages</a>
      <a href="abc Online Supermarket - Product(Wines) Page.html">Wines</a>
      <a href="abc Online Supermarket - Product(Cleaning Supllies, Health and Beauty) Page.html">Cleaning Supplies, Health and Beauty</a>
      <a href="abc Online Supermarket - Product(Pets) Page.html">Pets</a>
    </div>
  </div>  

  <a href="abc Online Supermarket - Contact Us Page.html">Contact Us</a>
  <a href="abc Online Supermarket - About Us Page.html">About Us</a>
  <a class="active" href="abc Online Supermarket - Jobs Page.html">Jobs</a>
  <a href="abc Online Supermarket - Register Page.html">Register</a>
  <a href="abc Online Supermarket - Help Page.html">Help</a>

<form onsubmit="return false">
  <div class="search-container">
    <input id="search_product_value" type="text" placeholder="Search a Product" oninput="find_product()" 
      onmouseleave="not_click_search()" autocomplete="off" required> 
    <div id="product_list"></div>
  </div>    
</div>

  <div class="navigation-bar-search-logo">
    <input type="image" onclick="search_product()" src="Image/Button Logo/Search Logo.png" alt="search_product" width = 48 height = 43>
  </div>
</form>

<div class="shopping-cart-logo">
  <form action="abc Online Supermarket - Shopping Cart Page.html">
    <input type="image" src="Image/Button Logo/Shopping Cart Logo.png" alt="shopping cart" width = 55 height = 43>
    <div id="shopping_cart_logo_notification"></div>
  </form>
</div>

<p></p>
<div style="text-align: center"><u style="color: red; font-size: 50px"><b>Featured Jobs</b></u>
<h2>(current opportunities)</h2></div>

<hr style="height: 3px; border-width:0; color: gray; background-color: gray; width:100%; margin-left: auto; margin-right: auto">
<br>
<br>
<div style="position: absolute; left: 160px; top: 360px; font-size: 40px; color: blue"><b>Delivery</b></div>
<div style="position: absolute; left: 705px; top: 360px; font-size: 40px; color: blue"><b>Sale</b></div>
<div style="position: absolute; left: 1160px; top: 360px; font-size: 40px; color: blue"><b>Operative</b></div>
<hr style="height: 2px; border-width:0; color: gray; background-color: gray; width:100%; margin-left: auto; margin-right: auto">

<div style="border-left: 5px solid grey; height: 714px; position: absolute; left: 500px; top: 348px"></div>
<div style="border-left: 5px solid grey; height: 714px; position: absolute; left: 1000px; top: 348px"></div>

<img src="Image/Background Logo/Jobs/Delivery Logo.png" alt="Delivery Logo" width=300 height=300 style="position: absolute; 
top: 410px; left: 100px; z-index: -1"></td>
<img src="Image/Background Logo/Jobs/Sale Logo.png" alt="Sale Logo" width=300 height=300 style="position: absolute; 
top: 400px; left: 600px; z-index: -1"></td>
<img src="Image/Background Logo/Jobs/Operative Logo.png" alt="Operative Logo" width=250 height=250 style="position: absolute; 
top: 440px; left: 1150px; z-index: -1"></td>

<script>
function delivery_description() {
  if (document.getElementById("delivery").value == "deliveryman") {
    document.getElementById("delivery work type").innerHTML =`Work Type: <u>Full time (Mon - Sun)</u>`
    document.getElementById("delivery work time").innerHTML =`Work Time: <u>10:00a.m. - 8:00p.m.</u>`
    document.getElementById("delivery salary").innerHTML =`Salary: <u>$1,5000 - $1,7000</u>`
  }

  else if (document.getElementById("delivery").value == "checker") {
    document.getElementById("delivery work type").innerHTML =`Work Type: <u>Full time (Mon - Sun)</u>`
    document.getElementById("delivery work time").innerHTML =`Work Time: <u>12:00a.m. - 11:00p.m.</u>`
    document.getElementById("delivery salary").innerHTML =`Salary: <u>$1,6000 - $1,8000</u>`
  }

  else {
    document.getElementById("delivery work type").innerHTML =`Work Type: <u>Full time (Mon - Sun)</u>`
    document.getElementById("delivery work time").innerHTML =`Work Time: <u>10:00a.m. - 9:00p.m.</u>`
    document.getElementById("delivery salary").innerHTML =`Salary: <u>$1,4000 - $1,8000</u>`
  }    
};

function sale_description() {
  if (document.getElementById("sale").value == "sale assistant (full time)") {
    document.getElementById("sale work type").innerHTML =`Work Type: <u>Full time (Mon - Sun)</u>`
    document.getElementById("sale work time").innerHTML =`Work Time: <u>9:00a.m. - 8:00p.m.</u>`
    document.getElementById("sale salary").innerHTML =`Salary: <u>$1,4000 - $1,9000</u>`
  }

  else if (document.getElementById("sale").value == "senior sale assistant") {
    document.getElementById("sale work type").innerHTML =`Work Type: <u>Full time (Mon - Sun)</u>`
    document.getElementById("sale work time").innerHTML =`Work Time: <u>9:00a.m. - 11:00p.m.</u>`
    document.getElementById("sale salary").innerHTML =`Salary: <u>$1,8000 - $2,5000</u>`
  }

  else {
    document.getElementById("sale work type").innerHTML =`Work Type: <u>Part time (3 - 5 days/week)</u>`
    document.getElementById("sale work time").innerHTML =`Work Time: <u>2 - 4 hours/day</u>`
    document.getElementById("sale salary").innerHTML =`Salary: <u>$40/hour</u>`
  }  
};

function operative_description() {
  if (document.getElementById("operative").value == "warehouseman") {
    document.getElementById("operative work type").innerHTML =`Work Type: <u>Full time (Mon - Sun)</u>`
    document.getElementById("operative work time").innerHTML =`Work Time: <u>10:00a.m. - 8:00p.m.</u>`
    document.getElementById("operative salary").innerHTML =`Salary: <u>$1,9000 - $2,7000</u>`
  }

  else if (document.getElementById("operative").value == "production operative") {
    document.getElementById("operative work type").innerHTML =`Work Type: <u>Full time (Mon - Sun)</u>`
    document.getElementById("operative work time").innerHTML =`Work Time: <u>9:00a.m. - 10:00p.m.</u>`
    document.getElementById("operative salary").innerHTML =`Salary: <u>$1,7000 - $2,2000</u>`
  }

  else {
    document.getElementById("operative work type").innerHTML =`Work Type: <u>Full time (Mon - Sun)</u>`
    document.getElementById("operative work time").innerHTML =`Work Time: <u>9:00a.m. - 8:00p.m.</u>`
    document.getElementById("operative salary").innerHTML =`Salary: <u>$1,5000 - $1,9000</u>`
  }    
}
</script>


<select id="delivery" onchange="delivery_description()" style="width: 300px; font-size: 25px; position: absolute; left: 100px; top: 690px;cursor: pointer">
  <option>Driver</option>
  <option>Deliveryman</option>
  <option>Checker</option>
</select>

<select id="sale" onchange="sale_description()" style="width: 350px; font-size: 25px; position: absolute; left: 580px; top: 690px; cursor: pointer">
  <option>Sale Assistant (part time)</option>
  <option>Sale Assistant (full time)</option>
  <option>Senior Sale Assistant</option>
</select>

<select id="operative" onchange="operative_description()" style="width: 300px; font-size: 25px; position: absolute; left: 1130px; top: 690px; cursor: pointer">
  <option>Loader</option>
  <option>Warehouseman</option>
  <option>Production Operative</option>
</select>


<div id="delivery work type" style="font-size: 20px; position: absolute; left: 100px; top: 760px">
Work Type: <u>Full time (Mon - Sun)</u></div>
<div id="delivery work time" style="font-size: 20px; position: absolute; left: 100px; top: 820px">
Work Time: <u>10:00a.m. - 9:00p.m.</u></div>
<div id="delivery salary" style="font-size: 20px; position: absolute; left: 100px; top: 880px">
Salary: <u>$1,4000 - $1,8000/month</u></div>

<div id="sale work type" style="font-size: 20px; position: absolute; left: 580px; top: 760px">
Work Type: <u>Part time (3 - 5 days/week)</u></div>
<div id="sale work time" style="font-size: 20px; position: absolute; left: 580px; top: 820px">
Work Time: <u>2 - 4 hours/day</u></div>
<div id="sale salary" style="font-size: 20px; position: absolute; left: 580px; top: 880px">
Salary: <u>$40/hour</u></div>

<div id="operative work type" style="font-size: 20px; position: absolute; left: 1130px; top: 760px">
Work Type: <u>Full time (Mon - Sun)</u></div>
<div id="operative work time" style="font-size: 20px; position: absolute; left: 1130px; top: 820px">
Work Time: <u>9:00a.m. - 8:00p.m.</u></div>
<div id="operative salary" style="font-size: 20px; position: absolute; left: 1130px; top: 880px">
Salary: <u>$1,5000 - $1,9000/month</u></div>


<script>
function delivery_apply() {
  document.getElementById("apply_div").style.display = 'block';
  document.getElementById("apply_form").innerHTML =
  `
  <div class="imgcontainer">
    <span onclick="document.getElementById('apply_div').style.display='none'" class="close" title="Close Modal">&times;</span>
  </div>

  <div style="font-size: 55px; text-align: center; color: blue"><b><u>Apply form</u></b></div>

  <div style="margin: 30px; text-align: justify">
  <h5>
  To apply this job, please fill 
  in your information before sending your request to our work center. 
  Once your request accepted, we will call and inform you to take 
  interview. And details of the interview 
  would be send as soon as possible (about 3-5 working days).  
  </h5>
  </div>

  <pre style="font-size: 28px">  Name:  <input type="text" id="name" name="name" required autocomplete="off"></pre>
  <pre style="font-size: 28px">  Tel:   <input type="text" id="tel" name="tel" required autocomplete="off"></pre>
  <pre style="font-size: 28px">  Email: <input type="email" id="email" name="email" required autocomplete="off"></pre>
  <input type="hidden" name="job" id="job">
  <pre style="font-size: 28px">  Apply Job: <u style="color: red">`+document.getElementById("delivery").value+`</u></pre>

  <button type="submit" style="margin-left: 28%; font-size: 28px; cursor: pointer" onclick="valid_check()">Send Request  <img src="Image/Background Logo/Send Request Logo.png" width=50 height=50></button>

  <br>
  <br>
  <pre><i>  <b>*Note:</b> Request with invalid telephone or email will be ignore</i></pre>
  `;
  //Save apply job as input value (input=hidden), so apply job value can send to flask
  document.getElementById("job").value = document.getElementById("delivery").value
};

function sale_apply() {
  document.getElementById("apply_div").style.display = 'block';
  document.getElementById("apply_form").innerHTML =
  `
  <div class="imgcontainer">
    <span onclick="document.getElementById('apply_div').style.display='none'" class="close" title="Close Modal">&times;</span>
  </div>

  <div style="font-size: 55px; text-align: center; color: blue"><b><u>Apply form</u></b></div>

  <div style="margin: 30px; text-align: justify">
  <h5>
  To apply this job, please fill 
  in your information before sending your request to our work center. 
  Once your request accepted, we will call and inform you to take 
  interview. And details of the interview 
  would be send as soon as possible (about 3-5 working days).  
  </h5>
  </div>

  <pre style="font-size: 28px">  Name:  <input type="text" id="name" name="name" required autocomplete="off"></pre>
  <pre style="font-size: 28px">  Tel:   <input type="text" id="tel" name="tel" required autocomplete="off"></pre>
  <pre style="font-size: 28px">  Email: <input type="email" id="email" name="email" required autocomplete="off"></pre>
  <input type="hidden" name="job" id="job">
  <pre style="font-size: 28px">  Apply Job: <u style="color: red">`+document.getElementById("sale").value+`</u></pre>

  <button type="submit" style="margin-left: 28%; font-size: 28px; cursor: pointer" onclick="valid_check()">Send Request  <img src="Image/Background Logo/Send Request Logo.png" width=50 height=50></button>

  <br>
  <br>
  <pre><i>  <b>*Note:</b> Request with invalid telephone or email will be ignore</i></pre>
  `;
  //Save apply job as input value (input=hidden), so apply job value can send to flask
  document.getElementById("job").value = document.getElementById("sale").value  
};

function operative_apply() {
  document.getElementById("apply_div").style.display = 'block';
  document.getElementById("apply_form").innerHTML = 
  `
  <div class="imgcontainer">
    <span onclick="document.getElementById('apply_div').style.display='none'" class="close" title="Close Modal">&times;</span>
  </div>

  <div style="font-size: 55px; text-align: center; color: blue"><b><u>Apply form</u></b></div>

  <div style="margin: 30px; text-align: justify">
  <h5>
  To apply this job, please fill 
  in your information before sending your request to our work center. 
  Once your request accepted, we will call and inform you to take 
  interview. And details of the interview 
  would be send as soon as possible (about 3-5 working days).  
  </h5>
  </div>

  <pre style="font-size: 28px">  Name:  <input type="text" id="name" name="name" required autocomplete="off"></pre>
  <pre style="font-size: 28px">  Tel:   <input type="text" id="tel" name="tel" required autocomplete="off"></pre>
  <pre style="font-size: 28px">  Email: <input type="email" id="email" name="email" required autocomplete="off"></pre>
  <input type="hidden" name="job" id="job">
  <pre style="font-size: 28px">  Apply Job: <u style="color: red">`+document.getElementById("operative").value+`</u></pre>

  <button type="submit" style="margin-left: 28%; font-size: 28px; cursor: pointer" onclick="valid_check()">Send Request  <img src="Image/Background Logo/Send Request Logo.png" width=50 height=50></button>

  <br>
  <br>
  <pre><i>  <b>*Note:</b> Request with invalid telephone or email will be ignore</i></pre>
  `;
  //Save apply job as input value (input=hidden), so apply job value can send to flask
  document.getElementById("job").value = document.getElementById("operative").value  
};


function valid_check() {
  if (document.getElementById("tel").value.length != 8 ||
      Number.isInteger(Number(document.getElementById("tel").value)) == false ||
      Number(document.getElementById("tel").value) < 0)
    { 
      document.getElementById("tel").setCustomValidity("Invalid phone number!");
      document.getElementById("tel").oninput = 
      function reset_valid() {document.getElementById("tel").setCustomValidity('')}
    }

  if (document.getElementById("name").value.length > 45)  
    { 
      document.getElementById("name").setCustomValidity("Maximum length of name is 45!");
      document.getElementById("name").oninput = 
      function reset_valid() {document.getElementById("name").setCustomValidity('')}
    }

  if (document.getElementById("email").value.length > 45)  
    { 
      document.getElementById("email").setCustomValidity("Maximum length of email is 45!");
      document.getElementById("email").oninput = 
      function reset_valid() {document.getElementById("email").setCustomValidity('')}
    }
}
</script>



<!-- Use the login form "modal" as a reference of apply form-->
<div id="apply_div" class="modal">
  <form id="apply_form" class="modal-content animate" action="http://localhost:5000/send_job_request" 
  style="height: 694px" method="post">
  </form>
</div>

<input type="submit" id="delivery_apply_btn" onclick="delivery_apply()" value="Apply" 
style="font-size: 30px; padding: 4px 14px; position: absolute; left: 180px; top: 960px; cursor: pointer">
<input type="submit" id="sale_apply_btn" onclick="sale_apply()" value="Apply" 
style="font-size: 30px; padding: 4px 14px; position: absolute; left: 690px; top: 960px; cursor: pointer">
<input type="submit" id="operative_apply_btn" onclick="operative_apply()" value="Apply" 
style="font-size: 30px; padding: 4px 14px; position: absolute; left: 1220px; top: 960px; cursor: pointer">


<pre>


























</pre>
<hr style="height: 3px; border-width:0; color: gray; background-color: gray; width:100%; margin-left: auto; margin-right: auto">

<pre>

      <img src="Image/Background Logo/Job Contact Logo.png" alt="Job Contact Logo" width="138" height="120">

</pre>


<div style="position: absolute; left: 200px; top: 1100px">
  <h4>If you have any questions about the jobs, please feel free to contact us:</h4>
</div>

<div style="position: absolute; left: 200px; top: 1140px">
  <pre><h4>Tel:        (852) 1357 2468</h4></pre>
</div>

<div style="position: absolute; left: 200px; top: 1180px">
  <pre><h4>Email:    <u style="color: blue">abcsupermarket.jobs@email.com.hk</u></h4></pre>
</div>


<script src="Product List and Search Function.js"></script>  <!--All search product list and search function refer to this js -->
<script src="Cart Logo Change Function.js"></script> <!-- The shopping cart logo will change according to this function -->

</body>

</html>