<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8"/>
<title>abc Online Supermarket - Product(Pets) Page</title>
<link rel="icon" href="Image/Background Logo/Company Logo 2.png"> <!-- Icon -->
<link rel="stylesheet" href="main website style.css"> <!-- All classes refer to this css -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!-- Faded Animation reference -->
</head>


<body>
<script src="Zoom Resize Function.js"></script>  <!-- Before displaying content, resize the screen based on the resolutions --> 
<img src="Image/Background Logo/Company Logo.png" alt="Company Logo" class="company-logo"> 

<!-- Login function -->
<button class="login-btn" onclick="document.getElementById('login_form').style.display='block'"><h1><b>Login</b></h1></button>
<div id="login_form" class="modal">
  <form class="modal-content animate" action="http://localhost:5000/login" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('login_form').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="Image/Background Logo/Login Logo.png" alt="User" class="user">
    </div>

    <div class="login_container">
      <div class="label_font_size">
      <label><b>Username</b></label>
        <i>
          <input type="text" placeholder=" Enter your username" name="user_name" id="user_name" autocomplete="off" required>
        </i>
      </div>

      <p class="label_font_size">
      <label><b>Password</b></label>
        <i>
          <input type="password" placeholder=" Enter your password" name="password" id="password" required>
        </i>
      </p>

      <p>
        <b><input type="submit" class="inside-login_btn" value="Login"></b>
      </p>

      <br>
      <br>
       
    </div> 

      <div class="down_container">
        <pre style="line-height: 18px">    
       <a href="abc Online Supermarket - Register Page.html" style="color: blue; font-size: 18px">Sign Up</a>                                <a href="abc Online Supermarket - Find Password.html" style="color: black; cursor: pointer; font-size: 18px">Forget Password?</a>
        </pre> 
        <br>      
      </div>     
  </form>
</div>
<p>

<div class="navigation-bar">
  <a href="abc Online Supermarket - Home Page.html">Home</a>

  <div class="dropdown">
      <button class="dropbtn_product_page">Product</button>
    <div class="dropdown-content">
      <a href="abc Online Supermarket - Product(Fruits) Page.html">Fruits</a>
      <a href="abc Online Supermarket - Product(Snacks) Page.html">Snacks</a>
      <a href="abc Online Supermarket - Product(Drinks and Beverages) Page.html">Drinks and Beverages</a>
      <a href="abc Online Supermarket - Product(Wines) Page.html">Wines</a>
      <a href="abc Online Supermarket - Product(Cleaning Supllies, Health and Beauty) Page.html">Cleaning Supplies, Health and Beauty</a>
      <a href="abc Online Supermarket - Product(Pets) Page.html">Pets</a>
    </div>
  </div>  

  <a href="abc Online Supermarket - Contact Us Page.html">Contact Us</a>
  <a href="abc Online Supermarket - About Us Page.html">About Us</a>
  <a href="abc Online Supermarket - Jobs Page.html">Jobs</a>
  <a href="abc Online Supermarket - Register Page.html">Register</a>
  <a href="abc Online Supermarket - Help Page.html">Help</a>

<form onsubmit="return false">
  <div class="search-container">
    <input id="search_product_value" type="text" placeholder="Search a Product" oninput="find_product()" 
      onmouseleave="not_click_search()" autocomplete="off" required> 
    <div id="product_list"></div>
  </div>    
</div>

  <div class="navigation-bar-search-logo">
    <input type="image" onclick="search_product()" src="Image/Button Logo/Search Logo.png" alt="search_product" width = 48 height = 43>
  </div>
</form>

<div class="shopping-cart-logo">
  <form action="abc Online Supermarket - Shopping Cart Page.html">
    <input type="image" src="Image/Button Logo/Shopping Cart Logo.png" alt="shopping cart" width = 55 height = 43>
    <div id="shopping_cart_logo_notification"></div>
  </form>
</div>

<p>
<p>



<!-- Table for showing products -->
<table border = 1 class="product-table">
<!-- 1st Row-->
<tr> 
  <td style="width: 250px">
    <input type="image" src="Image/Product Logo/Pets/Cat Food - Dry (3kg).png" alt="cat_food" width = 210 height = 210 
    onclick='localStorage.setItem("product","Cat Food - Dry (3kg)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>
    <b>Cat Food - Dry (3kg)</b><p style="color:red"><u>$50.00</u></p></td> 

  <td style="width: 250px">
    <input type="image" src="Image/Product Logo/Pets/Dog Food - Dry (3kg).png" alt="dog_food" width = 210 height = 210    
    onclick='localStorage.setItem("product","Dog Food - Dry (3kg)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>
    <b>Dog Food - Dry (3kg)</b><p style="color:red"><u>$50.00</u></p></td> 

  <td style="width: 250px"><input type="image" src="Image/Product Logo/Pets/Cat Treats - Chicken (4 packs - 56g).png" 
    alt="cat_treats_chicken" width = 210 height = 210
    onclick='localStorage.setItem("product","Cat Treats - Chicken (4 packs - 56g)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>    
    <b>Cat Treats - Chicken (4 packs - 56g)</b><p style="color:red"><u>$14.00</u></p></td> 

  <td style="width: 250px"><input type="image" src="Image/Product Logo/Pets/Cat Threat - Salmon Soft (482g).png" 
    alt="cat_treats_salmon_soft" width = 210 height = 210
    onclick='localStorage.setItem("product","Cat Threat - Salmon Soft (482g)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br> 
    <b>Cat Threat - Salmon Soft (482g)</b><p style="color:red"><u>$26.00</u></p></td> 

  <td style="width: 250px"><input type="image" src="Image/Product Logo/Pets/Dog Treat - Marrowbone (500g).png" 
    alt="dog_threat_marrowbone" width = 210 height = 210
    onclick='localStorage.setItem("product","Dog Treat - Marrowbone (500g)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br> 
    <b>Dog Treat - Marrowbone (500g)</b><p style="color:red"><u>$22.00</u></p></td> 

  <td style="width: 250px">
    <input type="image" src="Image/Product Logo/Pets/Dog Treat - Biscuits (500g).png" alt="dog_threat_biscuits" width = 210 height = 210
    onclick='localStorage.setItem("product","Dog Treat - Biscuits (500g)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>    
    <b>Dog Treat - Biscuits (500g)</b><p style="color:red"><u>$25.00</u></p></td> 

  <td style="width: 250px">
    <input type="image" src="Image/Product Logo/Pets/Cat Accessory - Catsan (5L).png" alt="cat_accessory_catsan" width = 210 height = 210
    onclick='localStorage.setItem("product","Cat Accessory - Catsan (5L)"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>     
    <b>Cat Accessory - Catsan (5L)</b><p style="color:red"><u>$62.00</u></p></td> 
</tr>


<!-- 2nd Row-->
<tr style="height: 40px"> 
  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="cat_food_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_cat_food()" autocomplete="off">
  <input type ="submit" value="Add" onclick="add_cat_food()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="dog_food_quantity" value="" min="1" max="99" style="width: 45px" 
    onclick="empty_input_dog_food()" autocomplete="off"> 
  <input type ="submit" value="Add" onclick="add_dog_food()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="cat_treats_chicken_quantity" value="" 
    min="1" max="99" style="width: 45px" onclick="empty_input_cat_treats_chicken()" autocomplete="off">  
  <input type ="submit" value="Add" onclick="add_cat_treats_chicken()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="cat_treats_salmon_soft_quantity" value="" 
    min="1" max="99" style="width: 45px" onclick="empty_input_cat_treats_salmon_soft()" autocomplete="off">  
  <input type ="submit" value="Add" onclick="add_cat_treats_salmon_soft()" style="cursor: pointer"></form>
  </td> 

  <td>
 <form onsubmit="return false">Quantity: <input type="number" id="dog_threat_marrowbone_quantity" value="" 
    min="1" max="99" style="width: 45px" onclick="empty_input_dog_threat_marrowbone()" autocomplete="off">  
  <input type ="submit" value="Add" onclick="add_dog_threat_marrowbone()" style="cursor: pointer"></form>
  </td> 

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="dog_threat_biscuits_quantity" value="" 
    min="1" max="99" style="width: 45px" onclick="empty_input_dog_threat_biscuits()" autocomplete="off">  
  <input type ="submit" value="Add" onclick="add_dog_threat_biscuits()" style="cursor: pointer"></form>
  </td>

  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="cat_accessory_catsan_quantity" value="" 
    min="1" max="99" style="width: 45px" onclick="empty_input_cat_accessory_catsan()" autocomplete="off"> 
  <input type ="submit" value="Add" onclick="add_cat_accessory_catsan()" style="cursor: pointer"></form>
  </td> 
</tr>


<!-- 3rd Row-->
<tr>   
  <td><input type="image" src="Image/Product Logo/Pets/Dog Accessory - Leash & Collar.png" 
  alt="dog_accessory_leash_and_collar" width = 210 height = 210
    onclick='localStorage.setItem("product","Dog Accessory - Leash & Collar"); 
    window.location.href = "abc Online Supermarket - Serach Product Page.html"'><br>     
    <b>Dog Accessory - Leash & Collar</b><p style="color:red"><u>$150.00</u></p></td>    
</tr>


<!-- 4th Row-->
<tr style="height: 40px"> 
  <td>
  <form onsubmit="return false">Quantity: <input type="number" id="dog_accessory_leash_and_collar_quantity" value="" 
    min="1" max="99" style="width: 45px" onclick="empty_input_dog_accessory_leash_and_collar()" autocomplete="off"> 
  <input type ="submit" value="Add" onclick="add_dog_accessory_leash_and_collar()" style="cursor: pointer"></form>
  </td> 
</tr>
</table> 


<script>
//Function for input properties and adding product lists to shopping cart
function empty_input_cat_food(){
if (document.getElementById("cat_food_quantity").value == "")
  {document.getElementById("cat_food_quantity").value = "1"}
};

function empty_input_dog_food(){
if (document.getElementById("dog_food_quantity").value == "")
  {document.getElementById("dog_food_quantity").value = "1"}
};

function empty_input_cat_treats_chicken(){
if (document.getElementById("cat_treats_chicken_quantity").value == "")
  {document.getElementById("cat_treats_chicken_quantity").value = "1"}
};

function empty_input_cat_treats_salmon_soft(){
if (document.getElementById("cat_treats_salmon_soft_quantity").value == "")
  {document.getElementById("cat_treats_salmon_soft_quantity").value = "1"}
};

function empty_input_dog_threat_marrowbone(){
if (document.getElementById("dog_threat_marrowbone_quantity").value == "")
  {document.getElementById("dog_threat_marrowbone_quantity").value = "1"}
};

function empty_input_dog_threat_biscuits(){
if (document.getElementById("dog_threat_biscuits_quantity").value == "")
  {document.getElementById("dog_threat_biscuits_quantity").value = "1"}
};

function empty_input_cat_accessory_catsan(){
if (document.getElementById("cat_accessory_catsan_quantity").value == "")
  {document.getElementById("cat_accessory_catsan_quantity").value = "1"}
};

function empty_input_dog_accessory_leash_and_collar(){
if (document.getElementById("dog_accessory_leash_and_collar_quantity").value == "")
  {document.getElementById("dog_accessory_leash_and_collar_quantity").value = "1"}
};


Product_add_Message = "Product has been added to your shopping cart!"; 
Warning_Message = "Please enter a positive integer!";  

if (localStorage.getItem("item_list") == null) 
  {var photo_list = [];
   var item_list = []; 
   var quantity_list = []; 
   var price_list = [];
   var subtotal_list = []
  }
else 
  {var photo_list = [localStorage.getItem("photo_list")];
   var item_list = [localStorage.getItem("item_list")];
   var quantity_list = [localStorage.getItem("quantity_list")];
   var price_list = [localStorage.getItem("price_list")];
   var subtotal_list = [localStorage.getItem("subtotal_list")]
  };

function add_cat_food() {
  if (Number(document.getElementById("cat_food_quantity").value)>0 & 
  Number.isInteger(Number(document.getElementById("cat_food_quantity").value))) {
    alert(Product_add_Message);  
    photo_list.push('<img src = "Image/Product Logo/Pets/Cat Food - Dry (3kg).png" alt="cat_food" width = 90 height = 90>');
    item_list.push("Cat Food - Dry (3kg)");
    quantity_list.push(Number(document.getElementById("cat_food_quantity").value));
    price_list.push("$50");
    subtotal_list.push("$"+50*(Number(document.getElementById("cat_food_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list)
    document.getElementById("cat_food_quantity").value = "";
    location.reload()    
    }
  else {
    document.getElementById("cat_food_quantity").setCustomValidity(Warning_Message);
    document.getElementById("cat_food_quantity").oninput = 
    function reset_valid() {document.getElementById("cat_food_quantity").setCustomValidity('')} 
    }    
  };

function add_dog_food() {
  if (Number(document.getElementById("dog_food_quantity").value)>0 & 
  Number.isInteger(Number(document.getElementById("dog_food_quantity").value))) {
    alert(Product_add_Message); 
    photo_list.push('<img src = "Image/Product Logo/Pets/Dog Food - Dry (3kg).png" alt="dog_food" width = 90 height = 90>'); 
    item_list.push("Dog Food - Dry (3kg)");
    quantity_list.push(Number(document.getElementById("dog_food_quantity").value));
    price_list.push("$50");
    subtotal_list.push("$"+50*(Number(document.getElementById("dog_food_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list)
    document.getElementById("dog_food_quantity").value = "";
    location.reload()    
    }
  else {
    document.getElementById("dog_food_quantity").setCustomValidity(Warning_Message);
    document.getElementById("dog_food_quantity").oninput = 
    function reset_valid() {document.getElementById("dog_food_quantity").setCustomValidity('')} 
    }    
  };

function add_cat_treats_chicken() {
  if (Number(document.getElementById("cat_treats_chicken_quantity").value)>0 & 
  Number.isInteger(Number(document.getElementById("cat_treats_chicken_quantity").value))) {
    alert(Product_add_Message); 
    photo_list.push('<img src = "Image/Product Logo/Pets/Cat Treats - Chicken (4 packs - 56g).png" alt="cat_treats_chicken" width = 90 height = 90>'); 
    item_list.push("Cat Treats - Chicken (4 packs - 56g)");
    quantity_list.push(Number(document.getElementById("cat_treats_chicken_quantity").value));
    price_list.push("$14");
    subtotal_list.push("$"+14*(Number(document.getElementById("cat_treats_chicken_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list)
    document.getElementById("cat_treats_chicken_quantity").value = "";
    location.reload()    
    }
  else {
    document.getElementById("cat_treats_chicken_quantity").setCustomValidity(Warning_Message);
    document.getElementById("cat_treats_chicken_quantity").oninput = 
    function reset_valid() {document.getElementById("cat_treats_chicken_quantity").setCustomValidity('')} 
    }    
  };

function add_cat_treats_salmon_soft() {
  if (Number(document.getElementById("cat_treats_salmon_soft_quantity").value)>0 & 
  Number.isInteger(Number(document.getElementById("cat_treats_salmon_soft_quantity").value))) {
    alert(Product_add_Message);  
    photo_list.push('<img src = "Image/Product Logo/Pets/Cat Threat - Salmon Soft (482g).png" alt="cat_treats_salmon_soft" width = 90 height = 90>');
    item_list.push("Cat Threat - Salmon Soft (482g)");
    quantity_list.push(Number(document.getElementById("cat_treats_salmon_soft_quantity").value));
    price_list.push("$26");
    subtotal_list.push("$"+26*(Number(document.getElementById("cat_treats_salmon_soft_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list)
    document.getElementById("cat_treats_salmon_soft_quantity").value = "";
    location.reload()    
    }
  else {
    document.getElementById("cat_treats_salmon_soft_quantity").setCustomValidity(Warning_Message);
    document.getElementById("cat_treats_salmon_soft_quantity").oninput = 
    function reset_valid() {document.getElementById("cat_treats_salmon_soft_quantity").setCustomValidity('')} 
    }    
  }; 

function add_dog_threat_marrowbone() {
  if (Number(document.getElementById("dog_threat_marrowbone_quantity").value)>0 & 
  Number.isInteger(Number(document.getElementById("dog_threat_marrowbone_quantity").value))) {
    alert(Product_add_Message);
    photo_list.push('<img src = "Image/Product Logo/Pets/Dog Treat - Marrowbone (500g).png" alt="dog_threat_marrowbone_grapes" width = 90 height = 90>');  
    item_list.push("Dog Treat - Marrowbone (500g)");
    quantity_list.push(Number(document.getElementById("dog_threat_marrowbone_quantity").value));
    price_list.push("$22");
    subtotal_list.push("$"+22*(Number(document.getElementById("dog_threat_marrowbone_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list)
    document.getElementById("dog_threat_marrowbone_quantity").value = "";
    location.reload()    
    }
  else {
    document.getElementById("dog_threat_marrowbone_quantity").setCustomValidity(Warning_Message);
    document.getElementById("dog_threat_marrowbone_quantity").oninput = 
    function reset_valid() {document.getElementById("dog_threat_marrowbone_quantity").setCustomValidity('')} 
    }    
  };

function add_dog_threat_biscuits() {  
  if (Number(document.getElementById("dog_threat_biscuits_quantity").value)>0 & 
  Number.isInteger(Number(document.getElementById("dog_threat_biscuits_quantity").value))) {
    alert(Product_add_Message); 
    photo_list.push('<img src = "Image/Product Logo/Pets/Dog Treat - Biscuits (500g).png" alt="dog_threat_biscuits" width = 90 height = 90>'); 
    item_list.push("Dog Treat - Biscuits (500g)");
    quantity_list.push(Number(document.getElementById("dog_threat_biscuits_quantity").value));
    price_list.push("$25");
    subtotal_list.push("$"+25*(Number(document.getElementById("dog_threat_biscuits_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list)
    document.getElementById("dog_threat_biscuits_quantity").value = "";
    location.reload()    
    }
  else {
    document.getElementById("dog_threat_biscuits_quantity").setCustomValidity(Warning_Message);
    document.getElementById("dog_threat_biscuits_quantity").oninput = 
    function reset_valid() {document.getElementById("dog_threat_biscuits_quantity").setCustomValidity('')} 
    }    
  };

function add_cat_accessory_catsan() {  
  if (Number(document.getElementById("cat_accessory_catsan_quantity").value)>0 & 
  Number.isInteger(Number(document.getElementById("cat_accessory_catsan_quantity").value))) {
    alert(Product_add_Message);
    photo_list.push('<img src = "Image/Product Logo/Pets/Cat Accessory - Catsan (5L).png" alt="cat_accessory_catsan" width = 90 height = 90>');  
    item_list.push("Cat Accessory - Catsan (5L)");
    quantity_list.push(Number(document.getElementById("cat_accessory_catsan_quantity").value));
    price_list.push("$62");
    subtotal_list.push("$"+62*(Number(document.getElementById("cat_accessory_catsan_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list)
    document.getElementById("cat_accessory_catsan_quantity").value = "";
    location.reload()    
    }
  else {
    document.getElementById("cat_accessory_catsan_quantity").setCustomValidity(Warning_Message);
    document.getElementById("cat_accessory_catsan_quantity").oninput = 
    function reset_valid() {document.getElementById("cat_accessory_catsan_quantity").setCustomValidity('')} 
    }    
  };

function add_dog_accessory_leash_and_collar() {  
  if (Number(document.getElementById("dog_accessory_leash_and_collar_quantity").value)>0 & 
  Number.isInteger(Number(document.getElementById("dog_accessory_leash_and_collar_quantity").value))) {
    alert(Product_add_Message); 
    photo_list.push('<img src = "Image/Product Logo/Pets/Dog Accessory - Leash & Collar.png" alt="dog_accessory_leash_and_collar" width = 90 height = 90>'); 
    item_list.push("Dog Accessory - Leash & Collar");
    quantity_list.push(Number(document.getElementById("dog_accessory_leash_and_collar_quantity").value));
    price_list.push("$150");
    subtotal_list.push("$"+150*(Number(document.getElementById("dog_accessory_leash_and_collar_quantity").value)));
    localStorage.setItem("photo_list", photo_list);
    localStorage.setItem("item_list", item_list);
    localStorage.setItem("quantity_list", quantity_list);
    localStorage.setItem("price_list", price_list);
    localStorage.setItem("subtotal_list", subtotal_list)
    document.getElementById("dog_accessory_leash_and_collar_quantity").value = "";
    location.reload()    
    }
  else {
    document.getElementById("dog_accessory_leash_and_collar_quantity").setCustomValidity(Warning_Message);
    document.getElementById("dog_accessory_leash_and_collar_quantity").oninput = 
    function reset_valid() {document.getElementById("dog_accessory_leash_and_collar_quantity").setCustomValidity('')} 
    }    
  }
</script>


<script src="Product List and Search Function.js"></script>  <!--All search product list and search function refer to this js -->
<script src="Cart Logo Change Function.js"></script> <!-- The shopping cart logo will change according to this function -->

<br>
<br>
</body>

</html>
