<!DOCTYPE html>
<html lang="en">


<head>
<meta charset="utf-8"/>
<title>abc Online Supermarket - Shopping Cart Page</title>
<link rel="stylesheet" href="main website style.css"> <!--All classes refer to this css -->
</head>


<body style="margin: 0">
<img src="Image/Background Logo/Shopping Cart List Logo.png" alt="Shopping Cart Logo" 
width="70" height="94" style="position: absolute; left: 20px; top: 10px">

<div style="width: 100%; background-color: #ddd; padding: 15px">
  <h1><pre>       Your Shopping Cart List</pre></h1>
</div>

<input type="image" src="Image/Button Logo/Go Back Logo.png" alt="Go Back 1" width = 240 height = 60 
style="position: absolute; cursor: pointer; left: 1250px; top: 30px; border-radius: 25px; outline:none"; onclick="window.history.back()">

<!-- Prompt that ask user to add item, will work if no item added-->
<div id="add_item_prompt_text"></div>
<div id="add_item_prompt_image"></div> 
<div id="shadow_image"></div> 

<br>
<br>
<br>

<!-- Table that shows item and their properties, will work if item added -->
<table border = 1 id="shopping_cart_table" style="border-collapse: collapse; text-align: center; margin-left: auto; margin-right: auto">
</table>
<div id="total_price"></div>

<br>
<br>


<!-- Clear shopping cart list button will work if item added -->
<div id="clear_list"></div>
<span id="purchase"></span>



<script>	
total_list = ""
total = 0  
if (localStorage.getItem("item_list") != null) 
  {var photo_list = localStorage.getItem("photo_list").split(",");
   var item_list = localStorage.getItem("item_list").split(",");
   var quantity_list = localStorage.getItem("quantity_list").split(",");
   var price_list = localStorage.getItem("price_list").split(",");
   var subtotal_list = localStorage.getItem("subtotal_list").split(",")
};


//Only if user add any item, the table will be show by below "try" code
try{
  product_list_length = item_list.length; 
  if (product_list_length>0) {
    table_content = 
    `
    <tr style="background-color: #B6DDFB; color: black">
      <th style="padding: 1px 40px"><h3></h3></th>
      <th style="padding: 1px 30px"></th>    
      <th style="padding: 1px 120px;"><h3>Product</h3></th>
      <th style="padding: 1px 30px"><h3>Quantity</h3></th>
      <th style="padding: 1px 30px"><h3>Price</h3></th>
      <th style="padding: 1px 30px"><h3>Subtotal</h3></th>
    </tr>
    `;
   
   for (i = 0; i < product_list_length; i++) {
   	 position = i  //This defines which record to delete from the product array(use for delete item if user click "delete item" button)
     function delete_item(position) {
       photo_list.splice(position, 1);
       item_list.splice(position, 1);
       quantity_list.splice(position, 1);
       price_list.splice(position, 1);
       subtotal_list.splice(position, 1);
       localStorage.setItem("photo_list", photo_list);
       localStorage.setItem("item_list", item_list);
       localStorage.setItem("quantity_list", quantity_list);
       localStorage.setItem("price_list", price_list);
       localStorage.setItem("subtotal_list", subtotal_list)

       if(item_list.length == 0) 
         {localStorage.removeItem("photo_list");
          localStorage.removeItem("item_list");
          localStorage.removeItem("quantity_list");
          localStorage.removeItem("price_list");
          localStorage.removeItem("subtotal_list") 
          }  
       location.reload();
       };

    table_content = table_content +
    `
    <tr>
      <td style="padding: 1px 40px">
      <button style="background-color: white; border: none; outline: none; cursor: pointer;" onclick="delete_item(`+position+`)">
      <img src="Image/Button Logo/Delete Item Logo.png" alt="Delete Item" width = "25" height = "30"> 
      </button>
      </td>

      <td style="padding: 1px 30px">`+photo_list[i]+`</td>
      <td style="padding: 1px 120px"><h3>`+item_list[i]+`</h3></td>
      <td style="padding: 1px 30px"><h3>`+quantity_list[i]+`</h3></td>
      <td style="padding: 1px 30px"><h3>`+price_list[i]+`</h3></td>
      <td style="padding: 1px 30px"><h3><u>`+subtotal_list[i]+`</u></h3></td>
    </tr>
    `;

    total_list = total_list + subtotal_list[i]
    }

    for (i = 0; i < total_list.split("$").length; i++) {
      total = total + Number(total_list.split("$")[i])
    }

    //Each item that added in the shopping cart will create a table row that contain "delete item" button, item photo, item name, quantity, price and subtotal

    //Below the table, total price will be shown
    document.getElementById("shopping_cart_table").innerHTML = table_content +
    `
    <tr>
      <td style="border-left: 1px solid white; border-bottom: 1px solid white;"></td>
      <td style="border-left: 1px solid white; border-bottom: 1px solid white;"></td>
      <td style="border-left: 1px solid white; border-bottom: 1px solid white;"></td>
      <td style="border-left: 1px solid white; border-bottom: 1px solid white;"></td>
      <td style="border-left: 1px solid white; border-bottom: 1px solid white;"></td>
      <td style="padding: 1px 30px; color: #FF7F50; border: 4px solid #FF7F50"><h3><u>$`+total+`</u></h3></td>
    </tr>
    `;


    //If the storage is null, it means the user has already clicked "clear shopping cart list" button to clear all the list of the shopping cart. If not, the "clear shopping cart list" button will keep display below the table
    function clear_list() {
      localStorage.removeItem("photo_list");
      localStorage.removeItem("item_list");
      localStorage.removeItem("quantity_list");
      localStorage.removeItem("price_list");
      localStorage.removeItem("subtotal_list");
      location.reload()
    };  

    document.getElementById("clear_list").innerHTML =	
    `
    <button onclick="clear_list()" 
    style="position: absolute; left: 380px; font-size: 50px; color: red; background-color: white; border: 3px solid red; cursor: pointer">
      Clear List
      <img src="Image/Button Logo/Clear List Logo.png" alt="Clear List Logo" width = "80" height = "70">
    </button>

    `

    document.getElementById("purchase").innerHTML = 
    `
    <form action="abc Online Supermarket - Information Comfirm Page.html">
      <input type="image" style="position: absolute; left: 760px; outline: none" src="Image/Button Logo/Purchase Logo.png" 
      alt="Clear List Logo" onclick="" width = "380" height = "100">
    </form>

    `    
  }
}


//If error caught, it means the user haven't add any item yet. So some prompt will display
catch(err) {
document.getElementById("add_item_prompt_text").innerHTML = 
`<p style="font-size: 50px; position: absolute; left: 340px; top: 210px">It seems like you haven't add any item yet!</p>`	

document.getElementById("add_item_prompt_image").innerHTML = 
`<img src="Image/Background Logo/Add Item Prompt Logo.png" alt="Add Item Prompt Logo" width = "280" height = "280"
 style="position: absolute; left: 600px; top: 320px">
`

document.getElementById("shadow_image").innerHTML = 
`<img src="Image/Background Logo/Shadow Logo.png" alt="Add Item Prompt Logo" width = "300" height = "50"
 style="position: absolute; left: 600px; top: 580px">
`
};
</script>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>

</html>